.catalog {
  min-height: 1100px;
  padding-bottom: 79px;
  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 45px;
    list-style: none;
  }
  &__tab {
    width: 220px;
    height: 50px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #d0d0d0;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #6b6b6b;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    transform: skewX(-25deg);
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      box-shadow: 3px 3px 15px $main-color;
      border: none;
    }
    div {
      transform: skewX(25deg);
    }
    &_active {
      background: $main-color;
      color: #fff;
      border: none;
    }
  }
  &__tab + &__tab {
    margin-left: 10px;
  }
  .title {
    line-height: 45px;
  }
  &__content {
    margin-top: 60px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    &_active {
      display: flex;
    }
  }
  &-item {
    width: 300px;
    min-height: 440px;
    padding: 19px;
    border: 2px solid #e8e8e8;
    overflow: hidden;
    margin-bottom: 20px;

    &__img {
      max-width: 100%;

      display: block;
      height: 200px;
      margin: 0 auto;
    }
    &__subtitle {
      margin: 15px 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      color: $second-color;
      text-align: center;
    }
    &__descr {
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: $second-color;
      text-align: center;
    }
    &__more,
    &__back {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-decoration: underline;
      color: $main-color;
      margin-top: 10px;
      text-align: center;
      text-transform: uppercase;
      &:hover {
        color: $main-color;
      }
    }
    &__back {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(calc(-50% - 15px));
    }
    hr {
      width: 100%;
      background: #e8e8e8;
      border-bottom: none;
      margin: 19px 0;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
      text-decoration-line: line-through;
      color: #555555;
    }
    &__current-price {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #050505;
    }
    &__wrapper {
      display: flex;
      width: calc(200% + 40px);
    }
    &__content {
      width: 50%;
      margin-right: 0px;
      transform: translateX(-100%);
      transition: 0.5s all;
      &_active {
        transform: translateX(0%);
        margin-right: 20px;
      }
    }
    &__list {
      width: 50%;
      margin-left: 20px;
      transform: translateX(0%);
      transition: 0.5s all;
      margin-bottom: 0;
      padding-right: 15px;
      padding-left: 10px;
      &_active {
        transform: translateX(-100%);
        margin-left: 0px;
      }
      li {
        position: relative;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #555555;
        list-style: none;
        margin-bottom: 5px;
        &:before {
          position: absolute;
          content: "";
          display: block;
          width: 5px;
          height: 5px;
          left: -14px;
          top: 7px;
          background-color: $main-color;
        }
      }
    }
  }
}
